@import "tailwindcss";

@font-face {
  font-family: 'Jost';
  src: url('./assets/Font/Jost.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Custom Global Styles */
body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Thin scrollbar for Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(5, 5, 5, 0.2) transparent;
}

/* Thin Custom Scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
